@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
}

@theme {
  --color-primary: #294435;
  --color-secondary: #DD983E;
  --font-inter: Inter, Arial, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 28px));
  }
}

.infinite-scroll {
  animation: scroll 40s linear infinite;
}
